*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color:rgb(236, 236, 236);
}

.main-container{
    width: 880px;
    margin-top: 50px;
    margin-left: 550px;
    margin-right: 500px;
}

img{
    vertical-align: middle;
    height: 100%;
}
.text-inline{
    font-size: 40px;
    display: inline;
    vertical-align: middle;
}

header{
    background-color: white;
    padding: 20px 20px 20px;
}

.first-container-box{
    background-color: #fff;
    width: 800px;
    padding: 10px 60px;
    border-bottom: rgb(236, 236, 236) solid 2px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.blue-button{
    display: inline-block;
    color: white;
    background-color: rgb(0, 162, 255);
    padding: 8px;
    border-radius: 6px;
}

.white-button{
    padding: 8px;
    display: inline;
    color: grey;
    border: grey 1px solid;
    border-radius: 7px;
}

.second-container-box{
    background-color: #fff;
    width: 800px;
    padding: 10px 60px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

li, ul{
    list-style: none;
    padding-top: 15px;
}

.list-title{
    font-weight: bold;
}

span{
    color: white;
    font-size: 10px;
    padding: 6px 4px;
    border-radius: 10px;
}

.editorial-pill{
    background-color: rgb(0, 162, 255);
}

.mobile-pill{
    background-color: orange;
}

.recruiting-pill{
    background-color: rgb(29, 173, 108);
}

.sales-pill{
    background-color: rgb(133, 180, 17);
}

.website-pill{
    background-color: rgb(245, 90, 178);
}

.goals-pill{
    background-color: rgb(152, 50, 242);
}

.green-check{
    display: inline-block;
    color: green;
    border: 1px green solid;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
}

.red-cross{
    display: inline-block;
    color: red;
    border: 1px red solid;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
}

.container-list{
    margin-bottom: 20px;
}